*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.relative {
    position: relative;
}
.in-block {
    display: inline-block;
}
.text-left {
    text-align: left !important;
}
.qr-image {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    left: 0;
    width: 55px;
    height: 55px;
    display: block;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    border: 4px solid #fff;
    border-radius: 10px;
}
.modal-dialog{
    margin-top: 100px!important;
}